<!DOCTYPE html>
<html lang="en">
  <head>
	  <style>/* Adicione estilos personalizados aqui */

#alert-container {
  margin-top: 2rem;
}

.alert {
  margin-bottom: 1rem;
}
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alertas Recebidos</title>
    <!-- Adicione os links para os arquivos CSS do Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <h1>Alertas Recebidos</h1>
      <hr>
      <div id="alert-container">
        <!-- Este será o contêiner onde os alertas serão exibidos -->
      </div>
    </div>
    <!-- Adicione os links para os arquivos JavaScript do Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

